@import "./normalize.css";
:root {
   --color-primary: #70707070;
   --color-secondary: #000000;
   --color-headings: #dddddd;
   --color-body: #ffffff;
   --color-body-darker: #70707070;
}
html {
   font-size: 62.5%;
}
body {
   font-family: "Times New Roman", Times, serif;
   color: var(--color-body);
   background-color: var(--color-primary);
}

/* Typography */
/* h1,
h2,
h3 {
   color: var(--color-headings);
}

h1 {
   font-size: 4rem;
}

h2 {
   font-size: 3.5rem;
}

h3 {
   font-size: 3rem;
}
h4 {
   font-size: 3rem;
}

h5 {
   font-size: 2rem;
}
h6 {
   font-size: 1.8rem;
}
p {
   font-size: 1.8rem;
} */

/* Button */
/* button {
   padding: 0.5rem 1rem 0.5rem 1rem;
   color: var(--color-secondary);
   margin: 0.5rem;
   border: none;
}
button:hover {
   color: var(--color-body);
   background-color: var(--color-secondary);
}

/*Media Icon */
/* .media__icon {
   width: 2rem;
   height: 2rem;
   margin-left: 1rem;
}

.search {
   width: 20rem;
   height: 20x;
   margin: 1rem;
}
.search:hover {
   transform: rotate(45deg);
} */

/* Link */
a {
   text-decoration: none;
}
/* .list {
   list-style: none;
   font-size: 2rem;
   margin: 4rem 2rem 0 2rem;
}
.list__item {
   margin-bottom: 4rem;
} */
.list__item > a {
   color: #d2d0db;
   text-decoration: none;
}
.logo {
   margin: 0 0 0 2rem;
   padding: 0;
}

@media (min-width: 376px) and (max-width: 768px) {
   body {
      display: flex;
      flex-direction: column;
   }
   nav {
      margin: 0;
      padding: 2rem 0 2rem 2rem;
   }

   .menu {
      display: flex;
      justify-content: space-between;
      flex-wrap: nowrap;
   }
   .logo {
      width: 30rem;
      height: 4rem;
      margin: 1rem;
      margin-left: 0;
      min-width: 2rem;
   }
   .search {
      width: 2rem;
      height: 4rem;
      margin: 1rem;
      min-width: 2rem;
      margin-right: 0;
   }
   .burger__menu {
      width: 5rem;
      height: 4rem;
      margin-right: 0;
      /* margin: 1rem 1.3rem 1rem 3rem; */
      min-width: 2rem;
   }
   .form-control {
      /* width: 20rem;
      height: 4rem;
      margin: 1rem;
      min-width: rem; */
      display: none;
   }

   .collapsible__content {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
   }

   .media__icon {
      width: 3rem;
      height: 2rem;
      margin-left: 2rem;
      margin-bottom: 2rem;
      fill: var(--color-body);
   }

   a {
      text-decoration: none;
   }
   .list {
      list-style: none;
      font-size: 2rem;
      margin: 4rem 2rem 0 2rem;
      width: 100%;
   }

   .list__item {
      padding-bottom: 2rem;
      margin-bottom: 1rem;
      align-items: baseline;
   }

   .list__item > a {
      color: #ffffff;
      transition: color;
      position: relative;
   }

   .list__item > a::after {
      content: "";
      position: absolute;
      width: 100%;
      transform: scaleX(0);
      border-radius: 5px;
      height: 0.05em;
      bottom: 0;
      left: 0;
      background: currentcolor;
      transform-origin: bottom right;
      transition: transform 0.25s;
   }

   .list__item > a:hover::after {
      transform: scaleX(1);
      transform-origin: bottom left;
   }
   .collapsible__content {
      max-height: 0;
      overflow: hidden;
      opacity: 0;
      transition: all 0.5s;
   }
   .collapsible--expanded .collapsible__content {
      max-height: 100vh;
      opacity: 1;
   }

   /* Banner */
   .card {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      overflow: visible;
      height: 100%;
   }

   .slide-image {
      object-fit: cover;
      transition: opacity 0.5s ease-in-out;
      width: 100%;
      height: 35rem;
      align-items: center;
   }

   .card-body {
      position: absolute;
      background-color: var(--color-secondary);
      color: var(--color-headings);
      text-align: center; /* Centers text horizontally */
      width: 80%;
      margin-top: 70%;
      height: 25rem;
      overflow: visible;
   }

   .card-text {
      margin: 0;
      font-size: 2.5rem;
      text-align: center;
      padding: 4rem 1rem 2rem 1rem;
      word-wrap: break-word;
   }

   .hero__content {
      position: absolute;
      width: 100%;
   }

   .arrow_slide {
      fill: var(--color-body);
      display: flex;
      padding: 0 10px;
      justify-content: space-between;
   }
   /* .text {
      position: relative;
      display: block;
      text-overflow: ellipsis;
   }
   .show-more {
      position: relative;
   }
   .show-more-height {
      height: 65px;
      overflow: hidden;
   } */
}

/* @media (min-width: 1200px) {
   .navbar {
      display: flex;
      flex-wrap: nowrap;
   }
   .burger__menu {
      width: 5rem;
      height: 5rem;
   }
   .search {
      width: 5rem;
      height: 5rem;
   }
} */
