@import "./normalize.css";
:root {
   --color-primary: #70707070;
   --color-secondary: #000000;
   --color-headings: #dddddd;
   --color-body: #ffffff;
   --color-body-darker: #70707070;
}
html {
   font-size: 62.5%;
}
body {
   font-family: "Times New Roman", Times, serif;
   color: var(--color-body);
   background-color: var(--color-primary);
}

/* Typography */
h1,
h2,
h3 {
   color: var(--color-headings);
}

h1 {
   font-size: 4rem;
}

h2 {
   font-size: 3.5rem;
}

h3 {
   font-size: 3rem;
}
h4 {
   font-size: 3rem;
}

h5 {
   font-size: 2rem;
}
h6 {
   font-size: 1.8rem;
}
p {
   font-size: 1.8rem;
}

/* Button */
button {
   padding: 0.5rem 1rem 0.5rem 1rem;
   color: var(--color-secondary);
   margin: 0.5rem;
   border: none;
}
button:hover {
   color: var(--color-body);
   background-color: var(--color-secondary);
}

/*Media Icon */
.media__icon {
   width: 2rem;
   height: 2rem;
   margin-left: 1rem;
}

/* Arrow */
.burger__menu {
   display: none;
}
.search {
   width: 20rem;
   height: 20x;
   margin: 1rem;
}
.search:hover {
   transform: rotate(45deg);
}
/* Burger menu */
.burger__menu {
   display: none;
   width: 50rem;
   height: 50rem;
}
/* Link */
a {
   text-decoration: none;
}
.list {
   list-style: none;
   font-size: 2rem;
   margin: 4rem 2rem 0 2rem;
}
.list__item {
   margin-bottom: 4rem;
}
.list__item > a {
   color: #d2d0db;
   text-decoration: none;
}
.logo {
   margin: 0 0 0 2rem;
   padding: 0;
}

@media screen and (max-width: 768px) {
   .media__icon {
      width: 2rem;
      height: 2rem;
      margin-left: 2rem;
      fill: var(--color-body);
      padding-bottom: 4rem;
   }
   .media {
      align-content: center;
   }

   /* Collapsible */

   .collapsible__media {
      text-align: center;
   }
   .list__item {
      padding-bottom: 2rem;
   }
   .collapsible__content {
      max-height: 0;
      overflow: hidden;
      opacity: 0;
      transition: all 0.5s;
   }
   .collapsible--expanded .collapsible__content {
      max-height: 100vh;
      opacity: 1;
   }
   nav {
      margin: 0;
      padding: 0;
   }
   .menu {
      display: flex;
      justify-content: space-between;
   }
   .logo {
      width: 20rem;
      height: 5rem;
      margin: 1.4rem 0 2rem 0;
      padding-left: 1rem;
   }
   .search {
      flex: 0 0 3%;
      height: 4rem;
      margin: 1rem;
      margin-left: 10rem;
   }
   .burger__menu {
      display: inline;
      flex: 0 0 25%;
      height: 4rem;
      margin: 1rem 1.3rem 1rem 1rem;
   }
   nav {
      background-color: var(--color-secondary);
   }
   .image__container {
      width: 100%;
   }
   .slide-image {
      object-fit: cover;
      transition: opacity 0.5s ease-in-out;
      width: 100%;
      height: 80%;
      align-items: center;
   }

   .hero__content {
      display: flex;
      flex-direction: column;
      margin: 2rem;
   }

   .article {
      display: grid;
      grid-template-rows: 1fr 1fr;
      margin: 2rem;
   }
   .block__heading {
      display: flex;
      width: 20rem;
      heigh: 20rem;
      align-items: center;
      background-color: var(--color-secondary);
      text-align: center;
      z-index: 1;
      font-size: 2.5rem;
   }

   .arrow_slide {
      fill: var(--color-body);
      display: flex;
      position: relative;
      padding: 0 10px;
      justify-content: space-between;
      margin-top: -400px;
   }
}
